{% extends "base.html" %}

{% block sidebar %}
<div id='sidebar'>
	<div class='panel'>
		{% if cur_user %}
		<div class='header'>
			<span class='col_fade'>用户</span>
		</div>
		<div class='inner'>
			<div class='user_card'>
				<div>
					<a class='user_avatar' href="/user/{{ cur_user.id }}">
						<img src="/upload/{{ cur_user.filename }}"/>
					</a>
					<span class='user_name'>
						<a class='dark' href="/user/{{ cur_user.id }}">
							{{ cur_user.username }}
						</a>
					</span>
					<div class="space clearfix"></div>
					<span class="signature">
						"Fusce posuere felis sed lacus"
					</span>
				</div>
			</div>
		</div>
		{% else %}
		<div class='inner'>
			<p>请登录</p>
			<div>
				<a href='/login'>登录</a>
				或
				<a href='/register'>注册</a>
			</div>
		</div>
		{% endif %}
	</div>
	{% if cur_user %}
	<div class='panel'>
		<div class='inner'>
			<a href='/topic/new' id='create_topic_btn'>
				<span class='span-success'>发布话题</span>
			</a>
			<a href='/board/all'>
				<span class='span-success'>板块管理</span>
			</a>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block content %}
<div id="content">
    <div class="panel">
        <div class="header">
        <a href="/" class="topic-tab {% if board_id=='-1' %}current-tab{% endif %}">
            全部</a>
        {% for b in bs %}
        <a href="/?board_id={{ b.id }}" class="topic-tab {% if board_id==b.id %}current-tab{% endif %}">
            {{ b.board_name }}</a>
        {% endfor %}
		</div>
		<div class="inner no-padding">
			<div id="topic_list">
				{% for t in ts %}
				<div class="cell">
					<a class="user_avatar pull-left" href="/user/{{ t.user_id }}">
						<img src="/upload/{{ t.user().filename }}"
							 title="{{ t.user().username }}"/>
					</a>
					<div class="topic_title_wrapper">
						<!--<span class='put_top'>置顶</span>-->
						<!--<span class='topiclist-tab'>置顶</span>-->
						<a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
							{{ t.title }}
						</a>
						<!--<span>{{ t.replies() | count }} / {{ t.views }}</span>-->
						<span class="reply_count pull-left">
							<span class="count_of_replies" title="回复数">
								{{ t.replies() | count }}
							</span>
							<span class="count_seperator">/</span>
							<span class="count_of_visits" title='点击数'>
								{{ t.views }}
							</span>
						</span>
						<span class="last_time pull-right last_active_time">2 小时前</span>
						<a class="topic_delete" href="{{ url_for('topic.delete', id=t.id, token=token) }}">
							删除
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class='pagination' current_page='{{ page }}'>
				<ul>
					<li class='{% if page <= 3 %}disabled{% endif %}'>
						<a href="{{url_for('.index', page=1, board_id=board_id)}}">«</a>
					</li>
					{% if max_page <= 5 %}
					{% for i in range(1, max_page + 1) %}
					{% if page == i %}
					<li class="disabled"><a>{{ i }}</a></li>
					{% else %}
					<li >
						<a href="{{ url_for('.index', page=i, board_id=board_id) }}">
							{{ i }}
						</a>
					</li>
					{% endif %}
					{% endfor %}
					{% elif max_page > 5 %}
					{% if page <= 3 %}
					{% for i in range(1,6) %}
					{% if page == i %}
					<li class="disabled"><a>{{ i }}</a></li>
					{% else %}
					<li >
						<a href="{{ url_for('.index', page=i, board_id=board_id) }}">
							{{ i }}
						</a>
					</li>
					{% endif %}
					{% endfor %}
					<li><a>...</a></li>
					{% elif page > 3 and max_page > page + 2 %}
					<li><a>...</a></li>
					{% for i in range(1,6) %}
					{% if i == 3 %}
					<li class="disabled"><a>{{ page }}</a></li>
					{% else %}
					<li>
						<a href="{{ url_for('.index', page=page- 3 + i, board_id=board_id) }}">
							{{ page - 3 + i }}
						</a>
					</li>
					{% endif %}
					{% endfor %}
					<li><a>...</a></li>
					{% elif page > 3 and max_page <= page + 2 %}
					<li><a>...</a></li>
					{% for i in range(1,4 + (max_page-page)) %}
					{% if i == 3 %}
					<li class="disabled"><a>{{ page }}</a></li>
					{% else %}
					<li>
						<a href="{{ url_for('.index', page=page- 3 + i, board_id=board_id) }}">
							{{ page - 3 + i }}
						</a>
					</li>
					{% endif %}
					{% endfor %}
					{% endif %}
					{% endif %}
					{% if page >= max_page - 3 %}
					<li class='disabled'><a>»</a></li>
					{% else %}
					<li>
						<a href="{{ url_for('.index', page=max_page, board_id=board_id) }}">»</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}