{% extends "base.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>个人信息</span>
            </div>
            <div class='inner userinfo'>
                <div class='user_big_avatar'>
                    <img src="/upload/{{ user.filename }}" title="{{ user.username }}"/>
                </div>
                <a class='dark'>{{ user.username }}</a>
                    <!--<span>上传文件</span>-->
                <!--<form method="post" action="{{ url_for('index.add_img') }}"-->
                      <!--enctype="multipart/form-data">-->
                    <!--<input type="file" name="file">-->
                    <!--<input type="submit" name="upload">-->
                <!--</form>-->
                <!---->


                <div class='user_profile'>
                    "Arerr Droe Deefjoie Gjiofe"
                </div>
                <p class='col_fade'>注册时间 {{ user.localtime(user.created_time) }}</p>
            </div>
        </div>

        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>最近创建的话题</span>
            </div>
            <div id="topic_list">
                {% for t in ts %}
                <div class="cell">
                    <a class="user_avatar pull-left" href="/user/{{ t.user_id }}">
                        <img src="/upload/{{ user.filename }}" title="{{ user.username }}"/>
                    </a>
                    <div class="topic_title_wrapper">
                        <!--<span class='put_top'>置顶</span>-->
                        <!--<span class='topiclist-tab'>置顶</span>-->
                        <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                            {{ t.title }}
                        </a>
                        <!--<span>{{ t.replies() | count }} / {{ t.views }}</span>-->
                        <span class="reply_count pull-left">
                            <span class="count_of_replies" title="回复数">
                                {{ t.replies() | count }}
                            </span>
                            <span class="count_seperator">/</span>
                            <span class="count_of_visits" title='点击数'>
                                {{ t.views }}
                            </span>
                        </span>
                        <span class="last_time pull-right last_active_time">2 小时前</span>
                        <a class="topic_delete" href="{{ url_for('topic.delete', id=t.id, token=token) }}">
                            删除
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
