{% extends "base.html" %}

{% block sidebar %}
<div id="sidebar">
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>作者</span>
        </div>
        <div class='inner'>
            <div class='user_card'>
                <div>
                    <a class='user_avatar' href="/user/{{ topic.user_id }}"><img src="/upload/{{ topic.user().filename }}"/>
                    </a>
                    <span class='user_name'>
                        <a class='dark' href="/user/{{ topic.user_id }}">
                            {{ topic.user().username }}
                        </a>
                    </span>
                    <div class="space clearfix"></div>
                    <span class="signature">
                        "Fusce posuere felis sed lacus"
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content">
    <div class='panel'>
        <div class='header topic_header'>
            <span class="topic_full_title">
                {{ topic.title }}
            </span>
            <div class="changes">
                <span>
                    <!--时间的格式转换-->
                    更新于 {{ topic.localtime(topic.updated_time) }}
                </span>
                <span>
                    {% set u = topic.user() %}
                    作者
                    <a href="{{ url_for('index.user_detail', id=u.id) }}">
                        {{ u.username }}
                    </a>
                </span>
                <span>
                    {{ topic.views }} 次浏览
                </span>
                <span>
                    来自 {{ topic.board().board_name }}
                </span>
            </div>
        </div>
        <div class='inner topic'>
            <div class='topic_content'>
                <div class="markdown-text">{{ topic.content }}</div>
            </div>
        </div>
    </div>

    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {{ topic.replies() | count }} 回复
            </span>
        </div>
        {% for r in topic.replies() %}
        {% set u = r.user() %}
        <div class='cell reply_area reply_item'>
            <div class='author_content'>
                <a href="{{ url_for('index.user_detail', id=u.id) }}" class="user_avatar">
                    <img src="/upload/{{ u.filename }}"
                         title="{{ u.username }}"/>
                </a>
                <div class='user_info'>
                    <a class='dark reply_author'>
                        {{ u.username }}
                    </a>
                    <a class="reply_time">
                        {{ loop.index }}楼 / {{ loop.length }} •
                        <span class="gua-time" id="{{ r.created_time }}"></span>
                    </a>
                </div>
                <div class='user_action'>
                    <span>
                        <i class="fa up_btn
                          fa-thumbs-o-up
                          invisible" title="喜欢"></i>
                        <span class="up-count">
                        </span>
                    </span>
                </div>
            </div>
            <div class='reply_content from-leiwei1991'>
                <div class="markdown-text">{{ r.content }}</div>
            </div>
        </div>
        {% endfor %}
        <div>
            <form action="{{ url_for('reply.add') }}" method="post">
                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                <textarea name="content"></textarea>
                <button>添加回复</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}



